* {
    margin: 0;
    padding: 0;
  }
  body {
    padding: 20px;
    align-content: center;
    /*
        pondremos un degradado de arriba abajo que se iniciará 
        con el color rgb(227, 76, 38) y acabará con el color rgb(240, 101, 41). El degradado 
        irá desde la posición 0% a la 90% y el color de finalización tendrá una opacidad del 
        0%. Para evitar un problema que surge en algunos navegadores cuando tenemos altas 
        resoluciones de pantalla, pondremos el color de fondo del elemento <html> a blanco. 
    */
    background-image: linear-gradient(
      rgb(227, 76, 38) 0%,
      rgb(240, 101, 41, 0%) 90%
    );
  }

  #page {
    width: 960px;
    margin: 0 auto;
    text-align: left;
    /*
      Para la sombra de la página utilizaremos 10px para los desplazamientos y la 
      difuminación y gray para el color. 
    */
    box-shadow: 10px 10px 10px gray;

    border-radius: 20px;
  }

  header {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.1em;
    border-bottom: solid black 6px;
    /*
    En la cabecera, pondremos un degradado de arriba abajo iniciando en el 
    color #0170B9 y finalizando en el color #27AADE. 
    */

    /*Para el efecto de bordes redondeado que tiene la página utilizaremos un radio de 20px*/
    border-radius: 20px 20px 0 0;
  }

  #page > header {
    background-image: linear-gradient(to bottom, #0170b9, #27aade);
    color: white;
  }

  header h1 {
    background-image: url("imgs/logo.png");
    background-repeat: no-repeat;
    background-position: 25px center;
    padding: 20px 100px;
  }

  nav {
    font-family: "Courier New", Courier, monospace;
    font-size: 1.4em;
    text-align: center;
    /*
        En la barra de navegación, pondremos un degradado de arriba abajo iniciando en el 
        color rgb(213, 186, 50) y finalizando en el color rgb(255, 218, 62).
    */
    background-image: linear-gradient(
      to bottom,
      rgb(213, 186, 50),
      rgb(255, 218, 62)
    );
  }

  nav ul {
    list-style-type: none;
  }

  nav li {
    padding-top: 80px;
    margin: 0 100px 20px 100px;
    display: inline-block;
    text-align: center;
    cursor: default;
  }

  nav li:hover {
    /*
      Ahora el color de la fuente de los enlaces será blanco y cuando se pase el ratón por encima será orange.
    */
    color: orange;
  }

  nav li {
    text-decoration: none;
    color: white;
  }

  main {
    font-family: Verdana, sans-serif;
    font-size: 0.8em;
    height: 502px;

    align-content: center;
    padding: 0px;

    height: auto; /* Permite que el contenedor se ajuste según su contenido */
    background-color: white; /*En la sección de contenidos pondremos el color de fondo blanco.  */
  }

  article {
    width: 240px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    line-height: 1.8em;
    padding: 5px 5px 22px 5px;
    margin: 20px;
    float: left;

    /*En los elementos <article> debes conseguir el efecto que se muestra en la imagen 
    resultado.jpg utilizando la imagen móvil.png para los bordes .Ten en cuenta que 
    también deberás modificar los márgenes de los elementos*/
    /* Ajuste de borde con imagen */
    border-image-source: url("recursos/movil.png");
    border-style: solid; /* Estilo del borde (necesario para border-image) */
    border-image-repeat: stretch;

    border-width: 70px 20px 64px 20px; /* Ancho del borde */
    border-image-slice: 68 20 65 20; /* Controla cómo se recorta la imagen */

    padding: 0;
  }

  article header {
    border-bottom: 1px solid #999999;
    padding: 2px;
  }

  article img {
    width: 100%;
    height: auto;
  }

  article h2 {
    padding: 10px;
    font-size: 1.2em;
  }

  footer {
    clear: both;
    font-size: 0.7em;
    color: white;
    text-align: center;
    background-color: #313b44;
    border-top: 6px solid black;
    padding: 15px 0;

    /*En el pie, utilizaremos el mismo degradado, pero en este caso irá de abajo arriba.*/
    background-image: linear-gradient(to bottom, #27aade, #0170b9);

    /*Para el efecto de bordes redondeado que tiene la página utilizaremos un radio de 20px*/
    border-radius: 0 0 20px 20px;
  }

  footer small {
    color: white;
  }

  li[name="contenidos"] {
    background-repeat: no-repeat;
    background-image: url("imgs/book.png");
  }

  li[name="videos"] {
    background-repeat: no-repeat;
    background-image: url("imgs/film.png");
  }

  li[name="contacto"] {
    background-repeat: no-repeat;
    background-image: url("imgs/mail.png");
  }