/* Estilo predeterminado para pantallas mayores a 1200px */
h1 {
    background-color: yellow; /* Fondo amarillo por defecto */
}

li{
    color: blue;
}

strong{
    color: black;
}

div:first-child li{
    color: black;
}

#content{
    display: flex;
    justify-content: space-between;
}



/* Pantallas entre 600px y 1200px */
@media screen and (max-width: 1200px) and (min-width: 600px) {
    h1 {
        background-color: green; /* Fondo verde */
    }
}

/* Pantallas hasta 600px */
@media screen and (max-width: 600px) {
    h1 {
        background-color: red; /* Fondo rojo */
    }
}
