
body{
    width: 60em;
    margin: 0 auto;
}

h1{
    display: flex;
    justify-content: center;
}

div{
    display: flex;
}

aside{
    width: 16em;
}

main{
    width: 44em;
}

main ul{
    display: flex;
    justify-content: space-around;
}

main li{
    width: 33.33%;
}