/*

.- Variables CSS:
6.1.- Tipograf�a:
fuente-principal -> Pacifico
fuente-alternativa -> sans-serif
6.2.- Tama�os:
tam-fuente-xs -> 12px
tam-max-contenedor-x -> 1200px
tam-alto-encabezado-xs -> 8vh
6.3.- Colores (buscar con utilidad adobe):
fondo-encabezado ->B8D2F4
fondo-menu ->894B26
fondo-todo ->
negro -> #000
blanco -> #FFF
color-texto ->517104
color-titulos-claro ->2CDA1C
color-titulos-oscuro->1F411C
color-primario ->517104
color-secundario ->83A705
color-opuesto-primario ->894B26
color-opuesto-secundario ->F58A03

*/


:root {
    --fuente-principal: 'Pacifico';
    --fuente-alternativa: sans-serif;
    --tam-fuente-xs: 12px;
    --tam-fuente-sm: 13px;
    --tam-fuente-md: 15px;
    --tam-fuente-lg: 17px;
    --tam-fuente-xl: 17px;
    --tam-max-contenedor-x: 1200px;
    --tam-alto-encabezado-xs: 8vh;
    --negro: #000;
    --blanco: #FFF;
    --fondo-encabezado: #B8D2F4;
    --fondo-menu: var(--blanco);
    --fondo-todo: var(--fondo-encabezado);
    --color-texto: #517104;
    --color-titulos-claro: #2CDA1C;
    --color-titulos-oscuro: #1F411C;
    --color-primario: #517104;
    --color-secundario: #83A705;
    --color-opuesto-primario: #894B26;
    --color-opuesto-secundario: #F58A03;
    --color-enlace: var(--color-opuesto-primario);
    --color-enlace-hover: var(--color-opuesto-secundario);
    --color-transparencia: rgba(0, 0, 0, 0.5);
}

html {
    font-family: var(--fuente-principal), var(--fuente-alternativa);
    font-size: var(--tam-fuente-xs);
    background-color: var(--fondo-todo);
    color: var(--color-texto);
}

*,
:after,
:before {
    padding: 0;
    margin: 0
}
body {
    overflow-x: hidden;
}
#inicio,#nosotros,#contacto{
    width: 100%;
    height: 100vh;
}


/* Media queries xs */

@media (max-width: 576px){
    h1{
        height: var(--tam-alto-encabezado-xs);
        font-weight: 400;
        font-style: normal;
    }

    h1 span {
        font-weight: bold;
    }

    nav ul {
        display: flex;
        flex-flow: column wrap;
        align-items: center; /* Centra los elementos si tienen menos ancho */
        
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%; /* Asegúrate de que la lista ocupe todo el contenedor */
    }
    
    nav li {
        background-color: white;
        width: 100%; /* Asegúrate de que cada elemento ocupe todo el ancho del contenedor */
        text-align: center; /* Centra el contenido del <li> */
        padding: 10px; /* Agrega espacio interno si es necesario */
        box-sizing: border-box; /* Asegura que el padding no aumente el ancho */
        border-bottom: 0.1vh solid brown;
    }
    
    #inicio{
        background-image: url("../img/casa-bosque-xs.jpg");
        background-size: cover; /* Ajusta la imagen para cubrir todo el área */
        background-position: center; /* Centra la imagen */
        width: 100%; /* Ajusta al tamaño del contenedor padre */
        height:50vh; /* Altura específica para que sea visible */
        

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #inicio p{
        color: var(--color-titulos-claro);
        background-color: var(--color-transparencia);
        border: 0.01em solid var(--color-titulos-claro);
        border-radius: 10px;
        padding: 60px 20px;
        font-size:x-large;
        margin: 40px;
        text-align: center;
    }

    #nosotros{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("../img/texture-1674066_640.jpg");
    }

    #nosotros > div{
        width: 80%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    #nosotros > div > div,h2,p{
        margin-bottom: 2vh;
        margin-top: 2vh;
    }

    #nosotros #imagen{
        background-image:url("../img/casa-cielo-xs.jpg"); 
        background-size: cover; /* Ajusta la imagen para cubrir todo el área */
        background-position: center; /* Centra la imagen */
        width: 100%; /* Ajusta al tamaño del contenedor padre */
        height:30vh; /* Altura específica para que sea visible */
    }

    #ConoceNuestrosModelos, #ConoceNuestrosModelos > div, #GaleriaDeImagenes{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h2{
        font-size: 2em;
    }

    /* Conoce a nuestros modelos */
    #ConoceNuestrosModelos h2{
        margin: 0;
        padding: 1vh;
    }

    #ConoceNuestrosModelos p{
        width: 90%;
    }

    #ConoceNuestrosModelos .img{
        background-size: cover; /* Ajusta la imagen para cubrir todo el área */
        background-position: center; /* Centra la imagen */
        width: 100%; /* Ajusta al tamaño del contenedor padre */
        height:40vh; /* Altura específica para que sea visible */
    }

    #ConoceNuestrosModelos #imagen1{
        background-image: url("../img/casa-basica-xs.jpg");
    }

    #ConoceNuestrosModelos #imagen2{
        background-image: url("../img/casa-grande-xs.jpg");
    }

    #ConoceNuestrosModelos #imagen3{
        background-image: url("../img/casa-lago-xs.jpg");
    }

    /* Galeria de Imagenes */


    #contacto{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: space-around;
        background-size: cover; /* Ajusta la imagen para cubrir todo el área */
        background-position: center; /* Centra la imagen */
        background-repeat: no-repeat; /* Evita que el fondo se repita */

        background-image: url("../img/contacto-xs.jpg");
    }

    #contacto form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
    }
}

/* Media queries sm */

@media (min-width: 576px) {
}
/* Media queries md */

@media (min-width: 768px) {
}
/* Media queries lg */

@media (min-width: 992px) {
}
/* Media queries xl */

@media (min-width: 1200px) {
}
