/*

.- Variables CSS:
6.1.- Tipograf�a:
fuente-principal -> Pacifico
fuente-alternativa -> sans-serif
6.2.- Tama�os:
tam-fuente-xs -> 12px
tam-max-contenedor-x -> 1200px
tam-alto-encabezado-xs -> 8vh
6.3.- Colores (buscar con utilidad adobe):
fondo-encabezado ->B8D2F4
fondo-menu ->894B26
fondo-todo ->
negro -> #000
blanco -> #FFF
color-texto ->517104
color-titulos-claro ->2CDA1C
color-titulos-oscuro->1F411C
color-primario ->517104
color-secundario ->83A705
color-opuesto-primario ->894B26
color-opuesto-secundario ->F58A03

*/


:root {
    --fuente-principal: 'Pacifico';
    --fuente-alternativa: sans-serif;

    --tam-fuente-xs: 12px;
    --tam-fuente-sm: 13px;
    --tam-fuente-md: 15px;
    --tam-fuente-lg: 17px;
    --tam-fuente-xl: 17px;

    --tam-max-contenedor-x: 1200px;
    --tam-alto-encabezado-xs: 8vh;

    --negro: #000;
    --blanco: #FFF;

    --fondo-encabezado: #B8D2F4;
    --fondo-menu: var(--blanco);
    --fondo-todo: var(--fondo-encabezado);
    --color-texto: #517104;

    --color-titulos-claro: #2CDA1C;
    --color-titulos-oscuro: #1F411C;

    --color-primario: #517104;
    --color-secundario: #83A705;

    --color-opuesto-primario: #894B26;
    --color-opuesto-secundario: #F58A03;

    --color-enlace: var(--color-opuesto-primario);
    --color-enlace-hover: var(--color-opuesto-secundario);

    --color-transparencia: rgba(0, 0, 0, 0.5);

    /* Tamaños */
    --size-titles: 2rem;
    --size-subtitles: 3rem;
}

html {
    font-family: var(--fuente-principal), var(--fuente-alternativa);
    font-size: var(--tam-fuente-xs);
    background-color: var(--fondo-todo);
    color: var(--color-texto);
    scroll-behavior: smooth;
    /* Esto hace que cuando le demos click a las anclas, la página haga un scroll suave */
}

*,
:after,
:before {
    padding: 0;
    margin: 0
}
body {
    overflow-x: hidden;
}
#inicio,#nosotros,#contacto{
    width: 100%;
    height: 100vh;
}


/* Media queries xs */

p{
    font-size: 1.5rem;
    /* Tamaño de letra relativo al root (html) 
    que es 12px, entonces sería 18px*/
    font-weight: 100;
}

h1{
    height: var(--tam-alto-encabezado-xs);
    font-weight: 400;
    font-style: normal;
    font-size: var(--size-titles);

    background-image: url("../img/favicon/android-chrome-192x192.png");
    background-repeat: no-repeat;
    background-position: 0 center;
    padding-left:  70px ;
    background-size: 70px; /* Ajusta el tamaño a 40px por 40px */
}

h2{
    font-size: var(--size-subtitles);
}

h1 span {
    font-weight: bold;
}

nav ul {
    display: flex;
    flex-flow: column wrap;
    align-items: center; /* Centra los elementos si tienen menos ancho */
    
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; /* Asegúrate de que la lista ocupe todo el contenedor */
}

nav li {
    background-color: white;
    width: 100%; /* Asegúrate de que cada elemento ocupe todo el ancho del contenedor */
    text-align: center; /* Centra el contenido del <li> */
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho */
    border-bottom: 0.1vh solid var(--color-opuesto-primario);
    color: var(--color-opuesto-primario);
    height: 8vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    text-decoration: none;
    color: var(--color-enlace);
    font-size: 2em;
    font-size: var(--size-titles);
}

#inicio{
    background-image: url("../img/casa-bosque-xs.jpg");
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center; /* Centra la imagen */
    width: 100%; /* Ajusta al tamaño del contenedor padre */
    height:61vh; /* Altura específica para que sea visible */
    

    display: flex;
    justify-content: center;
    align-items: center;
}

#inicio p{
    color: var(--color-titulos-claro);
    background-color: var(--color-transparencia);
    border: 0.01em solid var(--color-titulos-claro);
    border-radius: 10px;
    padding: 120px 20px;
    margin: 40px;
    text-align: center;
}

#nosotros{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../img/texture-1674066_640.jpg");
}

#nosotros > div{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#cuadrodetexto{
    display: flex;
    flex-flow: column;
}

#cuadrodetexto p{
    font-size: var(--size-subtitles);
}

#nosotros > div > div,h2,p{
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#nosotros #imagen{
    background-image:url("../img/casa-cielo-xs.jpg"); 
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center; /* Centra la imagen */
    width: 100%; /* Ajusta al tamaño del contenedor padre */
    height:40vh; /* Altura específica para que sea visible */
}

#ConoceNuestrosModelos, #ConoceNuestrosModelos > div, #ConoceNuestrosModelos .descripcion , #GaleriaDeImagenes {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Conoce a nuestros modelos */
#ConoceNuestrosModelos h2{
    margin: 0;
    padding: 1vh;
}

#ConoceNuestrosModelos p{
    width: 90%;
}

#ConoceNuestrosModelos .img{
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center; /* Centra la imagen */
    width: 100%; /* Ajusta al tamaño del contenedor padre */
    height:40vh; /* Altura específica para que sea visible */
}

#ConoceNuestrosModelos #imagen1{
    background-image: url("../img/casa-basica-xs.jpg");
}

#ConoceNuestrosModelos #imagen2{
    background-image: url("../img/casa-grande-xs.jpg");
}

#ConoceNuestrosModelos #imagen3{
    background-image: url("../img/casa-lago-xs.jpg");
}

/* Galeria de Imagenes */
#GaleriaDeImagenes{
    background-image: url("../img/texture-1674066_640.jpg");
}

#GaleriaDeImagenes .img{
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center; /* Centra la imagen */
    width: 90%; /* Ajusta al tamaño del contenedor padre */
    height:35vh; /* Altura específica para que sea visible */
    margin: 2vh auto;
}

#GaleriaDeImagenes > div{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
}

#GaleriaDeImagenes #imagen1{
    background-image: url("../img/alone-1867464-xs.jpg");
}

#GaleriaDeImagenes #imagen2{
    background-image: url("../img/architecture-1836070-xs.jpg");
}

#GaleriaDeImagenes #imagen3{
    background-image: url("../img/autumn-1748644-xs.jpg");
}

#GaleriaDeImagenes #imagen4{
    background-image: url("../img/apartment-3564955-xs.jpg");
}

#GaleriaDeImagenes #imagen5{
    background-image: url("../img/country-house-540796-xs.jpg");
}

#GaleriaDeImagenes #imagen6{
    background-image: url("../img/large-home-389271-xs.jpg");
}

#GaleriaDeImagenes .img, #nosotros .img{
    border: 1px solid black;
    border-radius: 10px;
}

#contacto{
    background-size: cover; /* Ajusta la imagen para cubrir todo el área */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que el fondo se repita */
    background-image: url("../img/contacto-xs.jpg");
    color: var(--color-opuesto-primario);
    
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-around;
    height: 94vh;
}

#contacto form i {
    font-size: 1.5rem;
    margin-right: 5px;
}

#contacto form .telefonoicono {
    transform: scale(-1, 1);
    /* Así hago el efecto espejo de darle la vuelta al icono */
}

#contacto > h2{
    margin: 0;
    justify-self: flex-start;
    font-weight: normal;
}

#contacto form{
    color: var(--blanco);
    background-color: #0000007a;
    padding: 5%;
    border-radius: 1vh;

    justify-self: center;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 80%;
    height: 60vh;
}

#contacto form p, #contacto form h2{
    align-self: center;
    margin: 0;
}

footer{
    background-color: var(--color-opuesto-primario);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 6vh;
}

footer p{
    margin: 0;
    color: var(--blanco);
    font-size: var(--tam-fuente-lg);
}

#btnSubir {
    position: fixed;       /* Fijo en la pantalla */
    bottom: 20px;          /* Separación desde el fondo */
    right: 20px;           /* Separación desde la derecha */
    width: 40px;           /* Ancho del botón */
    height: 40px;          /* Alto del botón */
    border: none;          /* Sin bordes */
    cursor: pointer;       /* Cambia el cursor al pasar */

    display: none;         /* Ocultamos el botón inicialmente */
    z-index: 1000;         /* Aseguramos que esté por encima del contenido */

    background-image: url("../img/arrow-24846.svg");
    background-color: transparent; /* Fondo transparente */
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    background-position: center; /* Centra la imagen */
}
    
/* Media queries sm */

@media (min-width: 576px) {
    /* Estilos para la section */
    #inicio {
        background-image: url("../img/casa-bosque-sm.jpg");
    }

    #ConoceNuestrosModelos #imagen2 {
        height: 40vh;
    }

    #ConoceNuestrosModelos #imagen3 {
        height: 50vh;
    }

    #GaleriaDeImagenes .img {
        width: 90%;
        height: 40vh;
    }
}


/* Media queries md */

@media (min-width: 768px) {
    html {
        font-size: var(--tam-fuente-md);
    }

    p {
        font-size: 1.5rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2.5rem;
        padding-top: 2vh;
    }

    /* Estilos para la section background-size: 100% 100%; */
    #inicio {
        background-image: url("../img/casa-bosque-md.jpg");
        
    }

    /* Estilos para el cuadrado con mensaje */
    #inicio #cuadrodetexto {
        width: 80%;
    }

    #nosotros #imagen{
        height: 30vh;
    }
    #ConoceNuestrosModelos #imagen1 {
        height: 50vh;
    }

    #ConoceNuestrosModelos #imagen3 {
        height: 40vh;
        
    }

    #GaleriaDeImagenes .img:last-child {
        margin-bottom: 5vh;
    }

    #contacto section{
        align-items: center;
        justify-content: center;
    }

    #contacto>section {
        height: 55vh;
        margin-top: 5vh;
        padding-top: 0px;

    }

}
/* Media queries lg */

@media (min-width: 992px) {

    html {
        font-size: var(--tam-fuente-lg);
    }

    header{
        display: flex;
        flex-flow: row nowrap;
        /* cuando lo necesite en horizontal pasar a row */
        height: 8vh;
        justify-content: space-between;
        padding: 1vh 0;
    }

    header a{
        font-size: 1.5rem;
    }

    header nav ul {
        display: flex;
        flex-flow: row nowrap;
        /* cuando lo necesite en horizontal pasar a row */
    }

    header nav li {
        background-color: var(--color-background-header);
        border-bottom: none;
        font-weight: lighter;
        padding: 10px; /* Agrega espacio interno si es necesario */
    }

    
    #inicio{
        height: 90vh;
        background-image: url("../img/casa-bosque-lg.jpg");
        background-position: center;
    }

    #cuadrodetexto{
        width: 90%;
    }

    #cuadrodetexto p{
        padding: 60px 40px;
    }

    #nosotros #imagen {
        background-image: url("../img/casa-cielo-lg.jpg");
        border-radius: 20px;
        height: 40vh;
        width: 100%;
    }

    #ConoceNuestrosModelos #imagen1 {
        height: 60vh;
    }
    
    #GaleriaDeImagenes{
        flex-flow: column wrap;
    }

    #GaleriaDeImagenes .img{
        width: 45%;
        height: 30vh;
    }

    #GaleriaDeImagenes > div{
        flex-flow: row wrap;
        justify-content: center;
    }

    #GaleriaDeImagenes .img:last-child {
        margin-bottom: 20px;
    }

    #GaleriaDeImagenes h2 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #contacto i,
    #contacto p {
        font-size: 1rem;

    }

    #contacto form {
        height: 60vh;
    }
}
/* Media queries xl */

@media (min-width: 1200px) {

    html {
        font-size: var(--tam-fuente-xl);
    }

    header nav ul li a:hover{
        color: var(--color-enlace-hover);
    }

    p{
        font-size: 1rem;
        padding-bottom: 20px;
    }

    body{
        width: 66%;
        margin: 0 auto;
    }

    header{
        height: 8vh;
        padding: 1vh 0;
    }

    nav li {
        padding: 10px; /* Agrega espacio interno si es necesario */
    }

    #inicio{
        height: 90vh;
        background-image: url("../img/casa-bosque-lg.jpg");
    }

    #cuadrodetexto{
        width: 90%;
    }

    #cuadrodetexto p{
        padding: 60px 40px;
    }

    #nosotros{
        height:max-content;
    }

    #nosotros #imagen{
        background-image:url("../img/casa-cielo-lg.jpg"); 
        background-size: cover; /* También puede ser "contain" */
        background-repeat: no-repeat;
        background-position: center;
        display: inline-block;
        height: 70vh;

    }

    #nosotros p{
        font-size: var(--tam-fuente-xl);
    }

    /*ConoceNuestrosModelos*/
    #ConoceNuestrosModelos {
        padding: 0 3%;  /* Añade un margen blanco para el contenido*/
    }

    #ConoceNuestrosModelos > div {
        position: relative; /* Necesario para que los hijos posicionados se refieran a este contenedor */
        width: 100%;    
        margin-bottom: 7vh; /* Añade margen blanco debajo de cada imagen que las separa */
        overflow: hidden;
    }
    
    #ConoceNuestrosModelos .img {
        position: relative; /* Base para la imagen */
        z-index: 1; /* La imagen estará en el fondo */
        width: 75%; /*Tamaño de la imagen en cuanto al ancho del contenedor*/
        align-self: flex-start; /* Pone las imagenes pegadas a la derecha */
        height: 60vh;   /* Alto de las imagenes */
    }

    #ConoceNuestrosModelos > div:first-of-type .img, #ConoceNuestrosModelos > div:last-of-type .img{
        align-self: flex-end;   /* Pone la primera y la ultima imagen pegadas a la derecha */
    }

    #ConoceNuestrosModelos > div:first-of-type .img{
        margin-top: 5vh;    /* Añade margen superior a la primera imagen*/
    }
    
    #ConoceNuestrosModelos .descripcion {

        position: absolute; /* Permite posicionar el texto sobre la imagen */
        top: 0%; /* Centra verticalmente */
        left: 50%; /* Centra horizontalmente */
        transform: translate(0%, 0%); /* Ajusta el punto de referencia al centro del texto */
        z-index: 2; /* Coloca el texto encima de la imagen */
        text-align: center; /* Centra el texto dentro del cuadro */
    }

    #ConoceNuestrosModelos > div:first-of-type .descripcion, #ConoceNuestrosModelos > div:last-of-type .descripcion{
        transform: translate(-100%, 0%); /* Ajusta el punto de referencia al centro del texto */
    }

    #ConoceNuestrosModelos .descripcion p{
        font-size: var(--tam-fuente-sm);
        margin: 0;
        width: fit-content;
        text-align: left;
        padding: 0 5%;
    }

    #ConoceNuestrosModelos .descripcion h2{
        font-size: var(--tam-fuente-md);
    }

    #GaleriaDeImagenes .img{
        height: 35vh;
    }

    #contacto form input:last-child{
        margin-top: 2vh;
    }

    footer p{
        padding: 0;
    }
}
