:root {
    /* Variables CSS para facilitar la gestión de estilos como colores, tamaños y fuentes */
    --fuente-principal: 'Pacifico';/* Fuente principal para textos */
    --fuente-alternativa: sans-serif;/* Fuente secundaria como respaldo */

    --tam-fuente-xs: 12px;/* Tamaño de fuente más pequeño */
    --tam-fuente-sm: 13px;/* Tamaño de fuente pequeño */
    --tam-fuente-md: 15px;/* Tamaño de fuente mediano */
    --tam-fuente-lg: 17px;/* Tamaño de fuente grande */
    --tam-fuente-xl: 17px;/* Tamaño de fuente extra grande */

    --tam-max-contenedor-x: 1200px; /* Ancho máximo para contenedores */
    --tam-alto-encabezado-xs: 8vh;/* Altura del encabezado ajustable por viewport */

    --negro: #000;/* Color negro */
    --blanco: #FFF;/* Color blanco */

    --fondo-encabezado: #B8D2F4; /* Color de fondo del encabezado */
    --fondo-menu: var(--blanco);/* Color de fondo del menú */
    --fondo-todo: var(--fondo-encabezado);/* Fondo principal de la página */
    --color-texto: #517104;/* Color principal del texto */

    --color-titulos-claro: #2CDA1C; /* Color claro para los títulos */
    --color-titulos-oscuro: #1F411C; /* Color oscuro para los títulos */

    --color-primario: #517104;/* Color principal de elementos */
    --color-secundario: #83A705; /* Color secundario de elementos */

    --color-opuesto-primario: #894B26;/* Color opuesto principal */
    --color-opuesto-secundario: #F58A03;/* Color opuesto secundario */

    --color-enlace: var(--color-opuesto-primario); /* Color para los enlaces */
    --color-enlace-hover: var(--color-opuesto-secundario); /* Color para enlaces en hover */

    --color-transparencia: rgba(0, 0, 0, 0.5);/* Transparencia negra */

    /* Tamaños */
    --size-titles: 2rem;/* Tamaño base de los títulos */
    --size-subtitles: 3rem;/* Tamaño base de los subtítulos */
}

html {
    /* Configuración global de la fuente y comportamiento */
    font-family: var(--fuente-principal), var(--fuente-alternativa);
    font-size: var(--tam-fuente-xs);/* Tamaño de fuente base */
    background-color: var(--fondo-todo); /* Fondo general */
    color: var(--color-texto); /* Color de texto general */
    scroll-behavior: smooth;/* Desplazamiento suave entre secciones */
}

*,
:after,
:before {
    /* Reinicio de márgenes y paddings en todos los elementos */
    padding: 0;
    margin: 0
}

body {
    overflow-x: hidden; /* Desactiva el scroll horizontal */
}

#inicio,#nosotros,#contacto{
    width: 100%;
    height: 100vh;
}


/* Media queries xs */

/* Estilos globales para textos */
p {
    font-size: 1.5rem; /* Fuente ligeramente grande para mejor legibilidad */
    font-weight: 100; /* Fuente ligera */
}

h1{
    /* Configuración del encabezado principal */
    height: var(--tam-alto-encabezado-xs);
    font-weight: 400;
    font-size: var(--size-titles);

    background-image: url("../img/favicon/android-chrome-192x192.png"); /* Icono en el encabezado */
    background-repeat: no-repeat; /* Evita repetición del fondo */
    background-position: 0 center; /* Centra el icono verticalmente */
    padding-left:  70px ; /* Separación del texto */
    background-size: 70px; /* Tamaño del icono */
}

/* Otros estilos de encabezados */
h2{
    font-size: var(--size-subtitles); /* Destaca las palabras dentro del span */
}

h1 span {
    font-weight: bold; /* Destaca las palabras dentro del span */
}

/* Navegación */
nav ul {
    display: flex; /* Flexbox para control de disposición */
    flex-flow: column wrap; /* Columnas en dispositivos pequeños */
    align-items: center; /* Centra los elementos en flex */

    list-style: none; /* Sin viñetas */
    width: 100%; /* Ocupa todo el ancho */
    padding: 0;
    margin: 0;
}

nav li {
     /* Estilos individuales de cada elemento del menú */
    background-color: white;
    width: 100%; /* Asegúrate de que cada elemento ocupe todo el ancho del contenedor */
    text-align: center; /* Centra el contenido del <li> */
    box-sizing: border-box; /* Asegura que el padding no aumente el ancho */
    border-bottom: 0.1vh solid var(--color-opuesto-primario); /* Línea divisoria */
    color: var(--color-opuesto-primario);
    height: 8vh; /* Altura uniforme */

    display: flex;
    justify-content: center;
    align-items: center;
}

nav a{
    /* Estilo para enlaces de navegación */
    text-decoration: none; /* Quita subrayado */
    color: var(--color-enlace); /* Color dinámico de enlaces */
    font-size: 2em;
    font-size: var(--size-titles); /* Tamaño consistente */
}

#inicio{
    /* Sección de inicio con fondo personalizado */
    background-image: url("../img/casa-bosque-xs.jpg");
    background-size: cover; /* Ajusta la imagen para cubrir toda el área */
    background-position: center; /* Centra la imagen */
    width: 100%; /* Ocupa el ancho completo */
    height: 61vh; /* Altura específica para la sección */
    
    display: flex; /* Habilita flexbox */
    justify-content: center; /* Centra horizontalmente los contenidos */
    align-items: center; /* Centra verticalmente los contenidos */
}

#inicio p{
    /* Estilos para los párrafos dentro de la sección de inicio */
    color: var(--color-titulos-claro); /* Color claro para el texto */
    background-color: var(--color-transparencia); /* Fondo semitransparente */
    border: 0.01em solid var(--color-titulos-claro); /* Borde fino */
    border-radius: 10px; /* Esquinas redondeadas */
    padding: 120px 20px; /* Espaciado interno */
    margin: 40px; /* Margen externo */
    text-align: center; /* Texto centrado */
}

#nosotros{
    /* Sección "Nosotros" */
    width: 100%; /* Ocupa todo el ancho disponible */
    height: fit-content; /* Ajusta la altura al contenido */
    display: flex; /* Flexbox habilitado */
    align-items: center; /* Centra los elementos verticalmente */
    justify-content: center; /* Centra horizontalmente */
    background-image: url("../img/texture-1674066_640.jpg"); /* Fondo con textura */
}

#nosotros > div{
    /* Contenedor principal de "Nosotros" */
    width: 80%; /* Ocupa el 80% del ancho del contenedor */
    height: fit-content; /* Ajusta la altura según el contenido */
    display: flex; /* Habilita flexbox */
    flex-flow: column; /* Coloca elementos en columna */
    align-items: center; /* Centra horizontalmente los elementos */
    justify-content: center; /* Centra verticalmente */
}

#cuadrodetexto{
   /* Sección de textos específicos en "Nosotros" */
   display: flex; /* Habilita flexbox */
   flex-flow: column; /* Elementos en columna */
}

#cuadrodetexto p{
    /* Estilo para los párrafos del cuadro de texto */
    font-size: var(--size-subtitles); /* Tamaño grande para destacar texto */
}

#nosotros > div > div,h2,p{
    /* Margen superior e inferior para los elementos */
    margin-bottom: 2vh;
    margin-top: 2vh;
}

#nosotros #imagen{
    /* Imagen dentro de la sección "Nosotros" */
    background-image: url("../img/casa-cielo-xs.jpg");
    background-size: cover; /* Ajusta la imagen al tamaño completo del área */
    background-position: center; /* Centra la imagen */
    width: 100%; /* Ocupa el ancho completo */
    height: 40vh; /* Altura específica para la imagen */
}

#ConoceNuestrosModelos, #ConoceNuestrosModelos > div, #ConoceNuestrosModelos .descripcion , #GaleriaDeImagenes {
    /* Secciones para "Conoce Nuestros Modelos" y "Galería de Imágenes" */
    background-color: white; /* Fondo blanco */
    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: space-around; /* Espaciado uniforme entre elementos */
}

/* Conoce a Nuestros Modelos */
#ConoceNuestrosModelos h2 {
    margin: 0; /* Sin margen */
    padding: 1vh; /* Espaciado interno */
}

#ConoceNuestrosModelos p{
    width: 90%;/* Ajusta el ancho de los párrafos */
}

#ConoceNuestrosModelos .img{
    /* Configuración de las imágenes de modelos */
    background-size: cover; /* Ajusta la imagen al tamaño completo */
    background-position: center; /* Centra la imagen */
    width: 100%; /* Ocupa el ancho completo del contenedor */
    height: 40vh; /* Altura específica */
}

#ConoceNuestrosModelos #imagen1{
    background-image: url("../img/casa-basica-xs.jpg");/* Imagen de modelo 1 */
}

#ConoceNuestrosModelos #imagen2{
    background-image: url("../img/casa-grande-xs.jpg"); /* Imagen de modelo 2 */
}

#ConoceNuestrosModelos #imagen3{
    background-image: url("../img/casa-lago-xs.jpg"); /* Imagen de modelo 3 */
}

/* Galeria de Imagenes */
#GaleriaDeImagenes{
    background-image: url("../img/texture-1674066_640.jpg"); /* Fondo con textura */
}

#GaleriaDeImagenes .img{
    /* Estilos para imágenes de la galería */
    background-size: cover; /* Ajusta la imagen al área */
    background-position: center; /* Centra la imagen */
    width: 90%; /* Ocupa el 90% del ancho disponible */
    height: 35vh; /* Altura específica */
    margin: 2vh auto; /* Margen vertical y centrado horizontal */
}

#GaleriaDeImagenes > div{
    /* Contenedor de las imágenes */
    width: 100%; /* Ocupa el ancho completo */
    display: flex; /* Habilita flexbox */
    flex-flow: column wrap; /* Columnas con elementos envueltos */
}

#GaleriaDeImagenes #imagen1{
    background-image: url("../img/alone-1867464-xs.jpg");/* Primera imagen */
}

#GaleriaDeImagenes #imagen2{
    background-image: url("../img/architecture-1836070-xs.jpg"); /* Segunda imagen */
}

#GaleriaDeImagenes #imagen3{
    background-image: url("../img/autumn-1748644-xs.jpg");/* Tercera imagen */
}

#GaleriaDeImagenes #imagen4{
    background-image: url("../img/apartment-3564955-xs.jpg");/* Cuarta imagen */
}

#GaleriaDeImagenes #imagen5{
    background-image: url("../img/country-house-540796-xs.jpg");/* Quinta imagen */
}

#GaleriaDeImagenes #imagen6{
    background-image: url("../img/large-home-389271-xs.jpg"); /* Sexta imagen */
}

#GaleriaDeImagenes .img, #nosotros .img{
    /* Bordes y estilo de imágenes */
    border: 1px solid black; /* Borde negro */
    border-radius: 10px; /* Bordes redondeados */
}

/* Sección de contacto */
#contacto{
    background-size: cover; /* Ajusta el fondo al área completa */
    background-position: center; /* Centra el fondo */
    background-repeat: no-repeat; /* Evita repetición del fondo */
    background-image: url("../img/contacto-xs.jpg"); /* Imagen de fondo */
    color: var(--color-opuesto-primario); /* Color de texto */
    
    display: flex; /* Habilita flexbox */
    flex-flow: column nowrap; /* Coloca elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: space-around; /* Espaciado entre elementos */
    height: 94vh; /* Altura de la sección */
}

#contacto form i {
    /* Iconos en el formulario */
    font-size: 1.5rem; /* Tamaño del icono */
    margin-right: 5px; /* Separación del texto */
}

#contacto form .telefonoicono {
    transform: scale(-1, 1); /* Giro el icono */
}

#contacto > h2 {
    margin: 0; /* Sin margen */
    justify-self: flex-start; /* Alinea al inicio */
    font-weight: normal; /* Fuente regular */
}

#contacto form {
    /* Estilo del formulario */
    color: var(--blanco); /* Texto blanco */
    background-color: #0000007a; /* Fondo negro semitransparente */
    padding: 5%; /* Espaciado interno */
    border-radius: 1vh; /* Bordes redondeados */
    
    justify-self: center; /* Centrado */

    display: flex; /* Flexbox */
    flex-flow: column nowrap; /* Elementos en columna */
    justify-content: space-around; /* Espaciado entre elementos */
    width: 80%; /* Ocupa el 80% del ancho */
    height: 60vh; /* Altura específica */
}

#contacto form p, #contacto form h2{
    /* Elementos dentro del formulario */
    align-self: center; /* Centrados horizontalmente */
    margin: 0; /* Sin margen */
}

footer{
    background-color: var(--color-opuesto-primario); /* Fondo oscuro */

    display: flex; /* Habilita flexbox */
    flex-direction: column; /* Elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
    height: 6vh; /* Altura específica */
}

footer p{
    margin: 0; /* Sin margen */
    color: var(--blanco); /* Texto blanco */
    font-size: var(--tam-fuente-lg); /* Tamaño de fuente grande */
}

#btnSubir {
    position: fixed;       /* Fijo en la pantalla */
    bottom: 20px;          /* Separación desde el fondo */
    right: 20px;           /* Separación desde la derecha */
    width: 40px;           /* Ancho del botón */
    height: 40px;          /* Alto del botón */
    border: none;          /* Sin bordes */
    cursor: pointer;       /* Cambia el cursor al pasar */

    display: none;         /* Ocultamos el botón inicialmente */
    z-index: 1000;         /* Aseguramos que esté por encima del contenido */

    background-image: url("../img/arrow-24846.svg");
    background-color: transparent; /* Fondo transparente */
    background-size: contain; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    background-position: center; /* Centra la imagen */
}

/* Media queries sm */

@media (min-width: 576px) {
    /* Estilos para la section */
    #inicio {
        background-image: url("../img/casa-bosque-sm.jpg");
    }

    #ConoceNuestrosModelos #imagen2 {
        height: 40vh;
    }

    #ConoceNuestrosModelos #imagen3 {
        height: 50vh;
    }

    #GaleriaDeImagenes .img {
        width: 90%;
        height: 40vh;
    }
}
